{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Doctors</title>{% endblock %}
{% block nav %}
<div class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
        <h6 class="text-dark mx-3 my-auto">Hello, Visitor</h6>
        <a class="btn btn-primary mx-2" href="/dashboard" role="button">Dashboard</a>
        {% endif %}
        
  </div>
{% endblock %}
{% block header %}
<header class="masthead text-white text-center" style="background:url('{% static '/img/bg-2.jpg' %}')no-repeat center center fixed;background-size:cover;">
    <div class="text-center">
{% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible fade show mx-auto text-lg-left" style="width: 80%;" role="alert">
            <strong> {{ msg }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endfor  %}
    {% endif %}

        <h1 class='text-monospace text-light' style="height: 4rem;">MEET OUR TEAM</h1>
    </div>
    <hr class="bg-light" style="width: 60rem;">
    <div class="container">
            <div class="row">
                    {% for p in hosts %}
                        <div class="col">       
                        <div class="col mx-auto my-3">
                                    <div class="card text-dark" style="width: 14rem;">
                                            <img src="/media/{{ p.host_image }}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">{{ p.host_name }}</h5>
                                              <p class="card-text">{{ p.host_desc }}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item bg-danger text-light">{{ p.available }}</li>
                                            </ul>
                                          </div>
                                     <form action = "guest/" method="post">{% csrf_token %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                      <button class="btn btn-primary mx-2" style="width: 90%;" type="submit" value="{{ p.id }}" name="guest" >Book your visit</button>    
                                        </li>
                                     </ul>
                                    
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                </div>
</div>
<script type="text/javascript">
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      (function(d, m){
        var kommunicateSettings = {"appId":"f9d2b633afd7972e01c0e8cf72f0e193","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
</header>
{% endblock %}
</script>
{% block footer %}
<footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item text-light">Contact</li>
                        <li class="list-inline-item text-light"><span>:</span></li>
                        <li class="list-inline-item text-primary">sales@raspiinvent.com</li>
                    </ul>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between my-2">
                    <p class="col-lg-8 col-sm-12 text-muted small">
                    Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Priyanka Choudhari</a></p>
        </div>
        </div>
    </footer>
{% endblock %}
