{% extends 'base.html' %}
{% load static %}
{% block title%}<title>Guest Detail</title>{% endblock %}
{% block header %}
<header
  class="masthead text-white text-center "
  style="background:url('{% static '/img/bg-2.jpeg' %}')no-repeat center center fixed;background-size:cover; height: 38rem;"
><div class="overlay"></div>
  
 <div class="container">
    <div class="row mx-auto">
      <div class="col">
        <div class="card text-dark" style="width: 30rem;">
          <h5 class="card-header bg-info text-monospace text-light text-center">
            <strong>Visitor's Information</strong>
          </h5>
              <div class="card-body ">
              <img max-width:10%;
                        height:auto; 
                src="/media/{{ visitor.image }}"
                class="card-img-top"
                alt="..."
              />
                <h5 class="card-title">Name:{{ visitor.name }}</h2>
                <h5 class="card-text">Host Name:{{ visitor.hostname }}</h5>
                      </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark" align = left style="width: 35rem;">
                    <div class="row">
            <div class="col my-auto">
              <div class="card-body ">
                <h6 class="card-text">Phone NO:{{visitor.phoneno }}</h6>
                <h6 class="card-text">Email:{{ visitor.email }}</h6>
<h6 class="card-text">Company:{{ visitor.company }}</h6>
<h6 class="card-text">Purpose of visit:{{ visitor.purpose }}</h6>
<h6 class="card-text">Material Carried:{{ visitor.material }}</h6>
<h6 class="card-text">time preffered:{{ visitor.time }}</h6>
<h6 class="card-text">Adhar no:{{ visitor.adharno }}</h6>
<h6 class="card-text">Pancard no:{{ visitor.pancardno }}</h6>
<h6 class="card-text">License no:{{ visitor.licenseno }}</h6>
<h6 class="card-text">Containment zone:{{ visitor.containment }}</h6>
<h6 class="card-text">Travel History:{{ visitor.history }}</h6>
<h6 class="card-text">Symptoms:{{ visitor.symptoms }}</h6>
<h6 class="card-text">Family history:{{ visitor.family }}</h6> 
<h6 class="card-text">Adharcard:{{ visitor.adharcard }}</h6> 
<h6 class="card-text">Pancard:{{ visitor.pancard }}</h6>  
<h6 class="card-text">License:{{ visitor.license }}</h6>  
                          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
{% endblock %}

